@import "../../utils/variables.scss";

#Contact {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background: rgb(134, 112, 96);
  background: linear-gradient(
    0deg,
    $PrimaryColor 0%,
    rgba($PrimaryColor, 0.55) 15%,
    rgba(255, 255, 255, 1) 30%
  );
}

iframe {
  height: 900px;
}
