@import "../../utils/variables.scss";

#Contact {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

iframe {
  height: 900px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 25px;
}


@media (max-width: 768px) {
iframe {
    height: 1000px;
}
  }