#Competences {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.competences {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  & p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .competences {
    width: 100%;
    justify-content: center;
  }
  .bulle-comics-sur-bulle {
    left: 0;
    width: 100%;
    & .comic-bubble::before{
      left: 50%;
    }
  }
}
