@import "../../utils/variables.scss";

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;



  .header {
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h1 {
      font-family: "Yellowtail", cursive;
      margin-left: 50px;
    }
    & nav {
      margin-right: 50px;
    }
    & ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;

      & li {
        margin: 0 10px;
      }
    }

    & a {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    & .header {
      & h1 {
        margin-left: 10px;
      }
      & nav {
        margin-right: auto;
      }
    }
  }
}
