@import "../../utils/variables.scss";

@import "./animationTete.scss";

/* Style de la tête */

/* les cheveux*/

.cheveux {
  color: transparent;
  height: 50px;
  width: 90px;
  background-color: #4a312c;
  border-radius: 50%;
  position: absolute;
  top: -26px;
  transform: rotate(-20deg);
}

.tete::before {
  content: ".";
  color: transparent;
  height: 50px;
  width: 90px;
  background-color: #4a312c;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
  position: absolute;
  top: -2px;
  z-index: -1;
}


.tete {
  width: 90px;
  height: 100px;
  background-color: $Peau; 
  border-radius: 50%; 
  position: relative;
}

/*oreille*/

.oreille {
  background-color: $Peau;
  position: absolute;
  width: 10px;
  height: 25px;
  border-radius: 50px;
}

.oreille-gauche {
  top: 40px;
  left: -5px;
}

.oreille-droite {
  top: 40px;
  right: -5px;
}

/* Style des yeux */
.oeil {
  width: 20px;
  height: 25px;
  background-color: #fff; 
  border-radius: 50%; 
  position: absolute;
  margin: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oeil::after{
  content: ".";
  position: absolute;
  color: transparent;
  height: 100%;
  top: -13px;
  left: 6px;
  background-color: $Peau;
  transform-origin: right;
  transform: rotate(90deg)  ;

}

.oeil-gauche {
  top: 40px;
  left: 30px;
}

.oeil-droit {
  top: 40px;
  right: 30px;
}

.eris {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.refletOeil {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}

/*Nez*/

.nez {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 15px solid $Bouche;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  left: 40px;
}

/* Style de la bouche */
.bouche {
  width: 15px;
  height: 20px;
  border-bottom: 5px solid $Bouche;
  border-bottom-right-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 25px;
}

.bouche::before {
  content: ".";
  position: absolute;
  height: 5px;
  bottom: -5px;
  background-color: $Bouche;
  border-radius: 50%;
  color: transparent;
  left: -2px;
}


