#Accueil {
    display: flex;
    justify-content: center;
}

#Accueil div {
    width: 70%;
    text-align:center;
}

@media (max-width: 768px) {
    #Accueil div {
        width: 100%;
        padding: 20px;
       
       & p {
           text-align: justify;

       }
    }
  }