/*Bulle bande déssiné*/

.comic-bubble {
  width: 100%;  
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 0 10px;
  position: relative;
}

/*Pointer de la bulle*/

.comic-bubble::before {
  content: "";
  position: absolute;
  bottom: -25px;
  border-left: 7px solid transparent;
  border-right: 10px solid transparent;
  border-top: 40px solid black;
  left: -10px;
  border-top-right-radius: 20%;
  border-top-left-radius: 80%;
  transform: rotate(45deg);
}

.comic-bubble::after {
  content: "";
  display: none;
  position: absolute;
  bottom: -25px;
  border-left: 10px solid transparent;
  border-right: 7px solid transparent;
  border-top: 40px solid black;
  right: -10px;
  border-top-right-radius: 80%;
  border-top-left-radius: 20%;
  transform: rotate(-45deg) ;
}

